{% extends "base.html" %}

{% block content %}

  <div class="container mx-auto mt-5 text-center" style="width: 500px;">
    
    {% if user.is_authenticated %}
    <h1>أهلا وسهلا {{ user.first_name }}</h1>
    {% else %}
    <h1>أهلا وسهلا</h1>
    {% endif %}

    
    <h4>لماذا تريد استخدام البرنامج؟</h4>

        
    <div class="my-5">
      <div class="h4 mx-3">حذف اعادة التغريد</div>

      {% if rm_rt_access %}
        <a href="" class="btn btn-success disabled">
          إعطاء الإذن
        </a>
      {% else %}
        <a href="{% url 'twitter_rm_rt_login' %}" class="btn btn-success">
          إعطاء الإذن
        </a>
      {% endif %}
    </div>
    
    <div class="mb-5">
      <div class="h4 mx-3">تعيين رسالة ترحيب</div>

      {% if dm_access %}
        <a href="" class="btn btn-success disabled">
          إعطاء الإذن
        </a>
      {% else %}
        <a href="{% url 'twitter_dm_login' %}" class="btn btn-success">
          إعطاء الإذن
        </a>
      {% endif %}
    </div>
        
        {% comment %} <div class="form-check mb-5">
          <input type="checkbox" class="form-check-input" style="width: 1.5rem; height: 1.5rem;" id="direct_messages" name="direct_messages"
            {% if dm_access %}
              checked
            {% endif %}
          >
          <label class="form-check-label h4 mx-3" for="direct_messages">تعيين رسالة ترحيب</label>
        </div> {% endcomment %}

  </div>

{% endblock content %}