{% extends "base.html" %}

{% block content %}

  <div class="container mx-auto mt-5 text-center" style="width: 75%;">
    
    {% if is_set %}
      <h3>You already have a welcome message!</h3>


      <table class="table table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">text</th>
            <th scope="col">make default</th>
            <th scope="col">modify</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>

          {% for message in welcome_messages %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ message.name }}</td>
              <td>{{ message.message_data.text|slice:":20" }}</td>

              {% if default_id == message.id %}
                <td><a href="" class="btn btn-success">already default</a></td>
              {% else %}
                <td>   
                  <form action="{% url 'make_welcome_message_default' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{message.id}}" name="id">
                    <input type="submit" class="btn btn-success" value="make default">
                  </form>
                </td>
              {% endif %}

              <td>
                <a href="{% url 'welcome_message_edit' id=message.id %}" class="btn btn-info">modify</a>
              </td>
              <td><a href="{% url 'welcome_message_delete' id=message.id %}" class="btn btn-danger">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    {% else %}
      <h3> You have no welcome message, want to have a new one? </h3>
    {% endif %}


    <h3 class="mt-5"> Add a new Welcome message</h3>

    <form action="{% url 'welcome_message_create' %}" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="name" name="name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group text-center">
        <label for="minutes_num p3">enter the text</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">text</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" name="text"></textarea>
        </div>
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">ادخال</button>
      </div>
    </form>
    
  </div>


  
{% endblock content %}