[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
mysqlclient = "*"
tweepy = "*"
oauth2 = "*"
python-decouple = "*"
install = "*"
django-environ = "*"
django-extensions = "*"
gunicorn = "*"
dj-database-url = "*"
django-heroku = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
