{% load static %}
{% block header %}
        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <a href="{% url 'index'%}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm.png'%}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'images/logo-dark.png'%}" alt="" height="17">
                                </span>
                            </a>

                            <a href="{% url 'index'%}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'images/logo-sm.png'%}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'images/logo-light.png'%}" alt="" height="17">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                            <span class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>

                    </div>

                    <div class="d-flex align-items-center">

                        <div class="dropdown d-md-none topbar-head-dropdown header-item">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bx bx-search fs-22"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..."
                                                aria-label="Recipient's username">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="dropdown ms-1 topbar-head-dropdown header-item">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img id="header-lang-img" src="{% static 'images/flags/sa.svg'%}" alt="Header Language" height="20"
                                    class="rounded">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" data-lang="ar"
                                    title="Arabic">
                                    <img src="{% static 'images/flags/sa.svg'%}" alt="user-image" class="me-2 rounded" height="18">
                                    <span class="align-middle">العربية</span>
                                </a>
                                
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" data-lang="en"
                                    title="English">
                                    <img src="{% static 'images/flags/us.svg'%}" alt="user-image" class="me-2 rounded" height="18">
                                    <span class="align-middle">English</span>
                                </a>
                            </div>
                        </div>

                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                data-toggle="fullscreen">
                                <i class='bx bx-fullscreen fs-22'></i>
                            </button>
                        </div>

                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                                <i class='bx bx-moon fs-22'></i>
                            </button>
                        </div>


                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle header-profile-user" src="{% static 'images/users/user-dummy-img.jpg'%}"
                                        alt="Header Avatar">
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{user.username}}</span>
                                        {% comment %} <span class="d-none d-xl-block ms-1 fs-13 text-muted user-name-sub-text">Founder</span> {% endcomment %}
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">
                                    <span data-key="t-welcome">أهلا بك</span> 
                                    {{user}}
                                </h6>
                                {% comment %} <a class="dropdown-item" href="{% url 'pages:pages.profile' %}"><i
                                        class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle" data-key="t-profile">الحساب</span></a>

                                <a class="dropdown-item" href="{% url 'pages:pages.faqs' %}"><i
                                        class="mdi mdi-lifebuoy text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle" data-key="t-help">مساعدة</span></a>

                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item" href="{% url 'pages:pages.profile_settings' %}"><i
                                        class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle" data-key="t-settings">الإعدادات</span></a> {% endcomment %}
                                
                                
                                {% if user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'twitter_logout' %}">
                                        <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> 
                                        <span class="align-middle" data-key="t-logout">تسجيل خروج</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock header %}