{% extends "base.html" %}

{% block content %}

  <div class="container mx-auto mt-5" style="width: 75%;">
      
    <h1 class="text-center">أهلا وسهلا</h1>

    {% if user.is_authenticated %}
      {% comment %} {% if %}{% else %}{% endif %} {% endcomment %}
    <p>
        <p>رقم المستخدم: {{ user.id }}</p>
        <p>آخر تسجيل دخول: {{ user.last_login }}</p>
        <p>تاريخ الانضمام إلى موقعنا: {{ user.date_joined }}</p>
        <p>اسم المستخدم: {{ user.first_name }}</p>
        {% if minutes_rt == -1 %}
          <p>أداة إزالة إعادة التغريد غير مفعلة</p>
        {% else %}
          <p>يتم ازالة اعادة التغريد الأقدم من: {{ minutes_rt }} دقيقة</p>
        {% endif %}
        <a href="{% url 'twitter_logout' %}">Logout</a>
    </p>
    {% endif %}

    <ul>
      {% for tweet in tweets %}
        <li>
          {{ tweet }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}