{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Welcome Message
{% endblock title %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" data-key="t-welcome-message">رسالة الترحيب</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);" data-key="t-tools">الأدوات</a></li>
                                        <li class="breadcrumb-item active" data-key="t-welcome-message">رسالة الترحيب</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0" data-key="t-welcome-message-card-title">إضافة وتعديل وحذف رسائل الترحيب</h4>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button type="button"
                                                        class="btn btn-success add-btn"
                                                        data-bs-toggle="modal"
                                                        id="create-btn"
                                                        data-bs-target="#createModal">
                                                    <i class="ri-add-line align-bottom me-1"></i><span data-key="t-add"> إضافة</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search" placeholder="Search..."/>
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    {% comment %} <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th> {% endcomment %}
                                                    <th class="sort" data-sort="name" data-key="t-name">الرقم</th>
                                                    <th class="sort" data-sort="text" data-key="t-text">النص</th>
                                                    <th class="sort" data-sort="activate" data-key="t-activate">تفعيل</th>
                                                    <th class="sort" data-sort="action" data-key="t-action">أفعال</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {% for message in messages_json %}
                                                    <tr>
                                                        {% comment %} <th scope="row">
                                                          <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                          </div>
                                                        </th> {% endcomment %}
                                                        {% comment %} <td class="id" style="display:none;">
                                                          <a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a>
                                                        </td> {% endcomment %}
                                                        <td class="name">{{ forloop.counter }}</td>
                                                        <td class="email">{{ message.text|slice:":20" }}</td>
                                                        {% if default_id == message.id %}
                                                            <td>
                                                                <form action="{% url 'deactivate_welcome_message' %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="{{ rule_id }}" name="id"/>
                                                                    <button type="submit" class="btn btn-sm btn-danger" data-key="t-deactivate">تعطيل</button>
                                                                </form>
                                                            </td>
                                                        {% else %}
                                                            <td>
                                                                <form action="{% url 'make_welcome_message_default' %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="{{ message.id }}" name="id"/>
                                                                    <button type="submit" class="btn btn-sm btn-success" data-key="t-activate">تفعيل</button>
                                                                </form>
                                                            </td>
                                                        {% endif %}
                                                        <td>
                                                            {% comment %} <td>
                                                            <a href="{% url 'welcome_message_edit' id=message.id %}" class="btn btn-info">modify</a>
                                                          </td>
                                                            <td><a href="{% url 'welcome_message_delete' id=message.id %}"
   class="btn btn-danger">delete</a></td> {% endcomment %}
                                                            <div class="d-flex gap-2">
                                                                <div class="edit">
                                                                    <button class="btn btn-sm btn-info edit-item-btn"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#updateModal"
                                                                            data-key="t-edit"
                                                                            onclick="update_fields('{{forloop.counter0}}')">
                                                                        تعديل
                                                                    </button>
                                                                </div>
                                                                <div class="remove">
                                                                    <button class="btn btn-sm btn-danger remove-item-btn"
                                                                            data-bs-toggle="modal"
                                                                            data-key="t-remove"
                                                                            data-bs-target="#deleteRecordModal">
                                                                        حذف
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2" data-key="t-no-messages-found">لا يوجد رسائل</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-2">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev disabled" href="#" data-key="t-previous">السابق</a>
                                            <ul class="pagination listjs-pagination mb-0">
                                            </ul>
                                            <a class="page-item pagination-next" href="#" data-key="t-next">التالي</a>
                                        </div>
                                    </div>
                                </div>
                                <p style="white-space: pre-line;" data-key="t-welcome-message-description">
                                    كيف تعمل رسالة الترحيب في الرسائل؟

                                    رسالة الترحيب عملية اوتوماتيكية لرسالة أنت تكتبها وتظهر لمن يحاول إرسال رسالة على صندوق رسائلك في تويتر.

                                    إذا قمت بتغيير الرسالة، ستظهر الرسالة الجديدة لهم بعد ٧ ايام عندما يتم حذف المحادثة اوتوماتيكياً ويعودون إليك في صندوق الرسائل.

                                    هذه الاساسيات لا يمكن تغييرها وهي من شروط منصة تويتر.
                                </p>
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div class="modal fade"
                     id="createModal"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        id="close-modal"></button>
                            </div>
                            <form action="{% url 'welcome_message_create' %}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        <label for="id-field" class="form-label">ID</label>
                                        <input type="text"
                                               id="id-field"
                                               class="form-control"
                                               placeholder="ID"
                                               readonly/>
                                    </div>
                                    {% comment %} <div class="mb-3">
                                        <label for="name-field" class="form-label" data-key="t-namemessage-name">اسم الرسالة</label>
                                        <input type="text"
                                               id="name-field"
                                               class="form-control"
                                               name="name"
                                               />
                                    </div> {% endcomment %}
                                    <div class="mb-3">
                                        <label for="text-field" class="form-label" data-key="t-text">النص</label>
                                        <textarea class="form-control"
                                                  aria-label="With textarea"
                                                  name="text"
                                                  id="text-field"></textarea>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3">
                                        <label for="active" class="form-label" data-key="t-activate">تفعيل</label>
                                        <input type="checkbox" class="form-check-input" id="active" name="active"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-key="t-close">إغلاق</button>
                                        <button type="submit" class="btn btn-success" id="add-btn" data-key="t-add">إضافة</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade"
                     id="updateModal"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        id="close-modal"></button>
                            </div>
                            <form action="{% url 'welcome_message_update' %}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        <label for="id-update-field" class="form-label">
                                            ID
                                        </label>
                                        <input type="text"
                                               id="id-update-field"
                                               class="form-control"
                                               placeholder="ID"
                                               name="id"
                                               readonly/>
                                    </div>
                                    {% comment %} <div class="mb-3">
                                        <label for="name-update-field" class="form-label" data-key="t-message-name">
                                            اسم الرسالة
                                        </label>
                                        <input type="text"
                                               id="name-update-field"
                                               class="form-control"
                                               name="name"
                                               required/>
                                    </div> {% endcomment %}
                                    <div class="mb-3">
                                        <label for="text-update-field" class="form-label" data-key="t-text">
                                            النص
                                        </label>
                                        <textarea class="form-control"
                                                  aria-label="With textarea"
                                                  name="text"
                                                  id="text-update-field"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-key="t-close">
                                            إغلاق
                                        </button>
                                        <button type="submit" class="btn btn-success" id="edit-btn" data-key="t-update">
                                            تحديث
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade zoomIn"
                     id="deleteRecordModal"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        id="btn-close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                    colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4 data-key="t-are-you-sure">
                                            هل أنت واثق؟
                                        </h4>
                                        <p class="text-muted mx-4 mb-0" data-key="t-delete-question">
                                            هل تريد حذف الرسالة؟
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal" data-key="t-close">
                                        إغلاق
                                    </button>

                                    <a href="{% url 'welcome_message_delete' id=1 %}" class="btn w-sm btn-danger" id="delete-record" data-key="t-confirm-delete">نعم، احذف</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script>
        var messages = {{ messages_json | safe }}
        function update_fields(id){
            message = messages[id];

            id_field = document.getElementById("id-update-field");
            //name_field = document.getElementById("name-update-field");
            text_field = document.getElementById("text-update-field");

            id_field.value = message["id"];
            //name_field.value = message["name"];
            text_field.value = message["text"];
        }
    </script>
    <!-- prismjs plugin -->
    <script src="{% static 'libs/prismjs/prism.js'%}"></script>
    <script src="{% static 'libs/list.js/dist/list.min.js'%}"></script>
    <script src="{% static 'libs/list.pagination.js/dist/list.pagination.min.js'%}"></script>
    <!-- listjs init -->
    <script src="{% static 'js/pages/listjs.init.js'%}"></script>
{% endblock extra_js %}
